[submodule "themes/hugo-theme-chicago7"]
	path = themes/hugo-theme-chicago7
	url = https://github.com/akopdev/hugo-theme-chicago7.git
[submodule "themes/shibui"]
	path = themes/shibui
	url = https://github.com/ntk148v/shibui.git
